service:
  name: gatekeeper

plugins:
  - serverless-webpack
  - serverless-offline
provider:
  name: aws
  runtime: nodejs8.10
  stage: ENVIRONMENT_PLACEHOLDER
  region: REGION_PLACEHOLDER
  iamManagedPolicies:
    - POLICY_PLACEHOLDER
  environment:
    TABLE_NAME: TABLE_NAME_PLACEHOLDER
    ENVIRONMENT: ENVIRONMENT_PLACEHOLDER
    SECRET_KEY: SECRET_KEY_PLACEHOLDER
    REDIS_URL: REDIS_URL_PLACEHOLDER
    REDIS_PORT: REDIS_PORT_PLACEHOLDER

webpack:
  webpackConfig: 'webpack.config.js'   # Name of webpack configuration file
  includeModules:
    packagePath: './package.json'   # Node modules configuration for packaging
  packager: 'npm'   # P

package:
  exclude:
    - .idea/**
    - .serverless/**
    - test/**
    - venv/**
    - requirements.txt
    - serverless.yml
    - serverless.yml.dist
    - node_modules/**
    - README.md
    - LICENSE.txt
    - gatekeeper.iml
    - setup.py
    - .gitignore/**
    - .nyc_output/**
    - .webpack/**
    - activate/**
    - coverage/**
    - .env
  include:
    - src/handler.ts
    - node_modules/**/*

custom:
  webpack:
    webpackConfig: 'webpack.config.js'
    includeModules: true
    package:
      individually: true

functions:
  login:
    handler: src/handler.login
    events:
      - http:
          method: post
          path: /gatekeeper/login
  logout:
    handler: src/handler.logout
    events:
      - http:
          method: get
          path: /gatekeeper/logout

resources:
  Resources:
    GatekeeperDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: 'TABLE_NAME_PLACEHOLDER'
